<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>About Cherry Ivy</title>
	
<% if signed_in? %>
<%= stylesheet_link_tag    "inactive.css", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<% else %>
	<%= stylesheet_link_tag    "about.css", media: "all", "data-turbolinks-track" => true %>
<% end %>
  	<%= csrf_meta_tags %>
 	<%= render 'layouts/shim' %>
</head>

<body>

<% if signed_in? %>
<!-- navigation bar section -->
<%= render 'shared/nav_bar_signed_in' %>
<!-- end of navigation bar -->
<% else %>

<!-- navigation bar section -->
<%= render 'shared/nav_bar_signed_out' %>
<!-- end of navigation bar -->

<%end %>






<div class="menu2"> 



<!-- beginning of PAGE CONTENT section -->
	<div id="page_width2">
		<div class="page">
			<div id="title">
				About
			</div>
            <div id="body">
				Cherry Ivy offers a unique solution to an oft-overlooked problem. That is, how do we engage people in long-term philanthropy? More often than we realize, events such as soup kitchens, park cleanings, galas, coat drives - you name it - are taking place in our local communities. With Cherry Ivy’s event-focused methodology, we aim to bring accessibility to philanthropy. Our goal is to show people that 1) it is extremely easy and convenient to get involved, and 2) that their friends and family are involved as well. Once this concept of accessibility is understood, long-term engagement in philanthropy will be inevitable.
			</div>
		</div>
	</div>

		
<!-- end of PAGE CONTENT section -->



<% unless signed_in? %>
<!-- beginning of FOOTER section -->

	<div id="page_width3">
		<div class="footer">
			<ul>
            	<li><%= link_to "About", about_path %></li>
            	<li><%= link_to "Terms", terms_path %></li>
            	<li><%= link_to "Privacy", privacy_path %></li>
            	<li><%= link_to "Help", help_path %></li>
            </ul>
		</div>				
	</div>

<!-- end of FOOTER section -->
<% end %>

</div>


</body>
</html>