<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Events | History NJ</title>

<% if signed_in? %>
<%= stylesheet_link_tag    "city_pages_si.css", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<% else %>
	<%= stylesheet_link_tag    "city_pages.css", media: "all", "data-turbolinks-track" => true %>
<% end %>

  	<%= csrf_meta_tags %>
 	<%= render 'layouts/shim' %>

</head>

<body>

<% if signed_in? %>
<!-- navigation bar section -->
<%= render 'shared/nav_bar_signed_in' %>
<!-- end of navigation bar -->
<% else %>

<!-- navigation bar section -->
<%= render 'shared/nav_bar_signed_out' %>
<!-- end of navigation bar -->

<%end %>







<div class="menu2"> 



<!-- beginning of LOCATION LINK section -->

	<div id="page_width2a">
		<%= link_to "New Jersey", allupcoming_path, class: "location_link", id: "chosen_city"%>
        <a href="#" class="location_link">New York</a>
	</div>

		
<!-- end of LOCATION LINK section -->



<!-- beginning of EVENTS section -->
	<div id="page_width2">
		<div class="events_header1">				
			<div id="name">
				<%= link_to "All Events", allupcoming_path%>	
			</div>
			<ul>
				<li><%= link_to "Upcoming", allupcoming_path%></li>
				<li><%= link_to "History", allhistory_path, id: "chosen" %></li>
			</ul>
		</div>
		<div class="events_header2">
			<form id="header2_buttons">
			<input type="submit" class="header_button" id="selected" value="Community">
			<input type="submit" class="header_button" value="Upcoming">
			<input type="submit" class="header_button" value="History">
			<input type="submit" class="header_button" value="Invited">
			</form>
		</div>
		<div class="events_update">
			<ul>
				<%if @nearby_events.any? %>

					<% @months.each do |month| %>	
						
	                	<% month_feed = @nearby_events.select {|x| x.start_time.strftime('%B %Y') == month } %>
	                	<% month_feed.each do |event| %>
		                	<li>
		                		<div>
		                			<% if signed_in? %>
			                			  <%= link_to "#{event.philanthropists.count} Went", attendees_event_path(event), class: "num_going_link" %>
					                      <% unless event.follows_at_event(current_user).count == 0 %>
					                        <% if event.follows_at_event(current_user).count == 1 %>
					                          <%= link_to "#{event.follows_at_event(current_user).count} Friend", friends_event_path(event), class: "num_friends_link" %>
					                        <% else %>
					                          <%= link_to "#{event.follows_at_event(current_user).count} Friends", friends_event_path(event), class: "num_friends_link" %>
					                        <% end %>
					                      <% end%>
								    <% else %>
								     	<%= link_to "#{event.philanthropists.count} Went", '#', class: "num_going_link" %>
				                    <% end %>
								</div>

		                		<div id="event_month_header">
	                				<% if event == month_feed[0] %>
	                					<%= month %>
	                				<%end%>
	                			</div>
								<!-- photo 100% on MS word.. height 2.3 and width 3.18-->
								<% if event.cover_photo.blank? %>
									<%= link_to image_tag("", alt: "pic", class: "event_pic"), event %>
								<% else %>
									<%= link_to image_tag(event.cover_photo.url(:medium), class: 'event_pic'), event %>
								<% end %>



								<% if signed_in? %>
									<% if is_charity? or is_philanthropist? %>
				                      <div>
				                        <% if is_philanthropist? %>
				                          <%if current_user.attending?(event)%> 
				                            <a href="#" class="gwo">WENT</a>
				                          <% end %>
				                        <% elsif is_charity? %>
				                          <% if current_user.id == event.charity.id %>
				                            <a href="#" class="gwo">OWNER</a>
				                          <% end %>
				                        <% end %> 
				                      </div>
				                    <%end%>
				                <%end %>

								
								
								<div id="events_text">
									<%= link_to "<b id='event_title'>#{event.title}</b>".html_safe, event %><br />
									<% if signed_in? %>
										<%= link_to "<b id='event_organization'>#{event.charity.name}</b>".html_safe, event.charity %><br />
									<% else %>
										<%= link_to "<b id='event_organization'>#{event.charity.name}</b>".html_safe, '#' %><br />
									<%end %>
									<%= link_to "<b id='event_date'>#{event.start_time.strftime('%A')} | #{event.start_time.strftime('%B %-d')} at #{event.start_time.strftime('%-I:%M %p')}</b>".html_safe, '#' %><br />
									<% if event.zip_code.blank? %>
					                	<% if event.location.present? %>
					                    	<%= link_to "<b id='event_city'>#{event.location}</b>".html_safe, '#' %><br /> 
					                    <% end %>
					                <% else %>
					                	<%= link_to "<b id='event_city'>#{event.zip_code.to_region}</b>".html_safe, '#' %><br />  
					                <% end %>

					                <!-- BEGINNING SPOTS LEFT -->
					                  <% if  (Time.now - 4.hours) <= event.start_time && event.attend_limit.present? && event.attend_limit - event.philanthropists.count >= 0 %>
					                    <% if event.attend_limit - event.philanthropists.count == 1%>
					                      <span title="Spots Left" style="font-size: 14px; font-style: italic; color: #2c3e50; cursor: default;">Spot (<%=event.attend_limit - event.philanthropists.count %>)</span><br />
					                    <% elsif event.attend_limit - event.philanthropists.count >= 10 %>
					                      <span title="Spots Left" style="font-size: 14px; font-style: italic; color: #2c3e50; cursor: default;">Spots (10+)</span><br />
					                    <% else %>
					                      <span title="Spots Left" style="font-size: 14px; font-style: italic; color: #2c3e50; cursor: default;">Spots (<%=event.attend_limit - event.philanthropists.count %>)</span><br />
					                    <% end %>
					                  <% end %>
					                  <!-- END SPOTS LEFT -->
								</div>
							</li>
						<%end %>
					<%end%>
				<% else %>
					<li id="no_event_holder">
						No Event History
					</li>
				<%end%>
			</ul>		
		</div>
	</div>
	
		
<!-- end of EVENTS section -->
		


</div>




</body>
</html>