<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to Cherry Ivy</title>
<%= stylesheet_link_tag    "root.css", media: "all", "data-turbolinks-track" => true %>
<%= stylesheet_link_tag    "owl.carousel.css", media: "all", "data-turbolinks-track" => true %>
<%= stylesheet_link_tag    "owl.theme.css", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>
 	<%= render 'layouts/shim' %>
</head>

<body>

<!-- navigation bar section -->
<%= render 'shared/nav_bar_signed_out' %>
<!-- end of navigation bar -->






<div class="menu2"> 


	<% if @events.count >= 3 %>
	
	<!-- beginning of EVENTS section -->
	<div id="page_width2">
		<div class="owl-carousel">
			<% @events.each do |event| %>
			 	<div> 
			 		<%=link_to image_tag(event.cover_photo.url(:large), width: '960px'), event %>
			        <div class="event_info">
			        	<span id="event_title"><%= event.title[0..39]%><%if event.title.length > 40 %>...<%end%></span><br />
			            <span id="event_host"><%= event.charity.legal_name[0..79]%><%if event.charity.legal_name.length > 80 %>...<%end%></span> 
			        </div>
			  	</div>
			<% end %>
		</div>
	</div>
	<!-- end of EVENTS section -->
	

	<% elsif @events_all.count >= 3 %>
	
	<!-- beginning of EVENTS section -->
	<div id="page_width2">
		<div class="owl-carousel">
			<% @events_all.each do |event| %>
			 	<div> 
			 		<%=link_to image_tag(event.cover_photo.url(:large), width: '960px'), event %>
			        <div class="event_info">
			        	<span id="event_title"><%= event.title[0..39]%><%if event.title.length > 40 %>...<%end%></span><br />
			            <span id="event_host"><%= event.charity.legal_name[0..79]%><%if event.charity.legal_name.length > 80 %>...<%end%></span> 
			        </div>
			  	</div>
			<% end %>
		</div>
	</div>
	<!-- end of EVENTS section -->


	<% else %>

	<!-- beginning of EVENTS section -->
	<div id="page_width2">
		<div class="owl-carousel">
			  <div> 
				  	<%=image_tag("eventcoverBIG2.jpg", alt: "Home", width: '960px')%>
			        <div class="event_info">
			        	<span id="event_title">Tree Planting at Fort Greene Park</span><br />
			            <span id="event_host">New York Restoration Project</span> 
			        </div>
			  </div>
			  <div> 
				  	<%=image_tag("kids-maths.jpg", alt: "Home", width: '960px')%>
			        <div class="event_info">
			        	<span id="event_title">Morning Math Games at PS 133 K</span><br />
			            <span id="event_host">New York Cares</span> 
			        </div>
			  </div>
			  <div> 
				  	<%=image_tag("homeless01.jpg", alt: "Home", width: '960px')%>
			        <div class="event_info">
			        	<span id="event_title">Feed the Homeless</span><br />
			            <span id="event_host">Food Bank of New York</span> 
			        </div>
			  </div>
			  <div> 
				  	<%=image_tag("code1.jpg", alt: "Home", width: '960px')%>
			        <div class="event_info">
			        	<span id="event_title">Teach Kids to Code - CoderDojo Workshop</span><br />
			            <span id="event_host">Developers for Good</span> 
			        </div>
			  </div>
			  <div> 
				  	<%=image_tag("fashion.jpg", alt: "Home", width: '960px')%>
			        <div class="event_info">
			        	<span id="event_title">Fashion For A Cause</span><br />
			            <span id="event_host">Dress for Success</span> 
			        </div>
			  </div>
		</div>
	</div>
	<!-- end of EVENTS section -->
	
	<% end %>


<!-- beginning of LOCATION LINK section -->
	<div id="page_width2b">
		<%= link_to "Events", allupcomingny_path, class: "location_link" %>
	</div>
<!-- end of LOCATION LINK section -->



<!-- beginning of FOOTER section -->

	<div id="page_width3">
		<div class="footer">
			<ul>
            	<li><%= link_to "About", about_path %></li>
            	<li><%= link_to "Terms", terms_path %></li>
            	<li><%= link_to "Privacy", privacy_path %></li>
            	<li><%= link_to "Help", help_path %></li>
            </ul>
		</div>				
	</div>

<!-- end of FOOTER section -->

</div>


</body>
</html>