<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Sign up for Cherry Ivy</title>
<%= stylesheet_link_tag    "signup2.css", media: "all", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>
 	<%= render 'layouts/shim' %>
</head>

<body>

<!-- navigation bar section -->
<div class="menu1">
	<div class="page_width1">
		<%= link_to image_tag("Nav-Logo.png", alt: "Home", id: "nav_logo"), root_path %>
		<%= link_to image_tag("Nav-Name.png", alt: "Home", id: "nav_name"), root_path %>
		<div id="admin">
			<%= link_to "Sign Up", signup1_path, class: "admin_button_a" %>
			<%= link_to "Log In", login_path, class: "admin_button_a" %>
		</div>				
	</div>
</div>
<!-- end of navigation bar -->






<div class="menu2"> 



<!-- beginning of PAGE CONTENT section -->
	<div id="page_width2">
		<div class="page">
			<div id="title">
				Sign Up
			</div>
            <div id="body1">
            	<ul>
                    <li>
                    <%= link_to "Philanthropist", signup1_path %>
                    </li>
                    <li id="underline">
                    <%= link_to "Charity", signup2_path %>
                    </li>
                </ul>
			</div>
            <div id="body3">
                <form>
                <label for="">Legal Name</label> <br />
                <input id="" name="" type="text" class="form-input"/><br /><br />                
                <label for="">Display Name</label> <br />
                <input id="" name="" type="text" class="form-input"/><br /><br />                
                <label for="">EIN</label> <br />
                <input id="" name="" type="text" class="form-input"/><br /><br />                
                <label for="">Contact Person</label> <br />
                <input id="" name="" type="text" class="form-input"/><br /><br />                
                <label for="">Email</label> <br />
                <input id="" name="" type="text" class="form-input"/><br /><br />
                
                <label for="">Phone Number</label> <br />
                <input id="" name="" type="text" class="form-input"/><br /><br />
                         
                <label for="">Password</label> <br />
                <input id="" name="" type="password" class="form-input"/><br /><br />
               
                <label for="">Confirm Password</label> <br />
                <input id="" name="" type="password" class="form-input"/><br /><br />
                                
                <label for="">Mission</label> <br />
                <textarea rows="6" class="form-input">
                </textarea><br /><br /><br  />
                
                <input type="submit" class="sign-up-button" value="Sign Up"><br />
                </form>
			</div>
		</div>
	</div>

		
<!-- end of PAGE CONTENT section -->



<!-- beginning of FOOTER section -->

	<div id="page_width3">
		<div class="footer">
			<ul>
            	<li><%= link_to "About", about_path %></li>
            	<li><%= link_to "Terms", terms_path %></li>
            	<li><%= link_to "Privacy", privacy_path %></li>
            	<li><%= link_to "Help", help_path %></li>
            </ul>
		</div>				
	</div>

<!-- end of FOOTER section -->

</div>


</body>
</html>