<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><i>**Apologies for any inconvenenice.**</i></p><br/>
    <p><b><%=link_to("#{@event.charity.name}", charity_url(@event.charity))%></b> has cancelled the following event:</p>
    <p><b>Title</b></p>
    <p><%= @event.title %></p>    
    <p><b>When</b></p>
    <p><%= @event.start_time.strftime('%A') %> | <%= @event.start_time.strftime('%B %-d, %Y')%> at <%= @event.start_time.strftime('%-I:%M %p')%></p>
    <p><b>Where</b></p>
    <p><%= @event.location %></p>
    <p><%= @event.address_line_1 %></p>
    <p><%= @event.address_line_2 %></p>
    <p>
      <% unless @event.zip_code.blank? %> 
          <%=@event.zip_code.to_region%> <%=@event.zip_code %> 
      <%end%>
    </p><br/>
    <p><b><%=link_to("But don't fret! Discover other events from #{@event.charity.name}!", charity_url(@event.charity))%></b></p>
  </body>
</html>