<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style = "width: 200px; margin: auto;">
        <%= link_to image_tag("https://s3.amazonaws.com/cherry-ivy-images/special_uploads/ci_social_logo_1.png", width: "200px"), root_url %>
    </div>

    <p>The charities below have opportunities this week! Check them out!</p>
    
    <p>Also, stay informed on <b><%=link_to("what's happening in NYC", allupcomingny_url)%></b>!</p><br/>
    
    <% @charities.each do |charity| %>
        <div>
            <p><b><%=link_to("#{charity.name}", charity_url(charity))%></b><br/><%= charity.zip_code.to_region %><br/></p>

            <% display_photo_logic = charity.events.select{|event| event.start_time >= (Time.now - 4.hours)}.select{|event| event.start_time < (Time.now - 4.hours + 7.days)}.select{|event| event.zip_code.present?}.select{|event| event.city_st[-2..-1] == "NY"}.map{|x| x.id}.take(1)%>
            <% display_event_id = display_photo_logic[0] %>
            <% display_event = Event.find(display_event_id)%>           

            <% if display_event.cover_photo.blank? %>
                <%= link_to image_tag("https://s3.amazonaws.com/cherry-ivy-images/special_uploads/default-event-cover-large.png", width: "480px", height: "300px"), charity_url(charity) %>
            <% else %>
                <%= link_to image_tag(display_event.cover_photo.url(:large), width: "480px", height: "300px"), charity_url(charity) %>
            <% end %>

            <br/><br/><br/>
        </div> 
    <% end %>
    
    <p>Share & Tell-A-Friend!!</p>
    
    <p><b><%= link_to "Like Cherry Ivy on Facebook", "https://www.facebook.com/pages/Cherry-Ivy/628111227325531" %></b>!!</p>
    
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <h5 style="font-weight: 100;">To update your email settings, or unsubscribe, <%=link_to("click here", redir_email_updates_activities_url, style: "font-weight: bold;") %>.</h5>
  </body>
</html>