<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%=@user.name%>,</p>
    <p>Welcome to Cherry Ivy! Who knew philanthropy could be so fun, social and simple!</p>
    <p>Keep your email (<%=@user.email%>) and password on file so you can quickly and easily log in to <%=link_to('cherryivy.com', root_url)%>!</p>
    <p>We're glad to have you join our community!</p>
    <p>--<br/><i>Cherry Ivy Team</i></p><br/>
    <p>P.S.<br/>Charities, <%= link_to "get started here", "https://drive.google.com/file/d/0BwjnPjQxiOU4UUVPOUhrTkhUdzg/view?usp=sharing" %>! Also, <%= link_to "like us on Facebook", "https://www.facebook.com/pages/Cherry-Ivy/628111227325531" %>!</p>
  </body>
</html>