<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= @superadmin.name %></title>
<%= stylesheet_link_tag    "profile2_s.css", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>
 	<%= render 'layouts/shim' %>

</head>

<body>

<!-- navigation bar section -->
<%= render 'shared/nav_bar_signed_in' %>
<!-- end of navigation bar -->






<div class="menu2"> 




<!-- beginning of cover photo section -->
	<div id="page_width2">
		<div id="cover_photo_section">
			<div id="name">
        <%= link_to @superadmin.name, @superadmin %>
			</div>
			<div id="location">
				<% unless @superadmin.zip_code.blank?%>
				<a href="#"><%= @superadmin.zip_code.to_region %></a>
				<%end%>
			</div>

      <div id="buttons_left">
      	<%= link_to "Events", @superadmin, class: "left_button", id: "underline1" %>
      </div>

      <% if is_philanthropist? || is_charity? %>
        <%unless current_user?(@user)%>
          <div id="buttons_right">
            <% if current_user.following?(@user)%>
                <%= render 'shared/unfollow_1' %>
            <% else %>
                <%= render 'shared/follow_1' %>
            <%end%>
          </div>
        <%end%>
      <%end%>

		</div>
		<div id="profile_pic">
        <% if @superadmin.avatar.blank? %>
            <%= image_tag("default-user-avatar.png", width: '134', style: "border-radius:85px") %>
        <% else %>
            <%= image_tag @superadmin.avatar.url(:medium), style: "border-radius:70px" %>
        <%end %>
    </div>
	</div>
	
		
<!-- end of cover photo section -->





<!-- beginning of EVENTS sectoin -->
	<div id="page_width3">
		<div class="events_header">
			<ul>
				<li><%=link_to "CI Events: #{@events.count}", @superadmin %></li> 
				<!--<li><a href="#">Hours: 12</a></li>-->
			</ul>
      <div id="event_feed_toggle">
        <a href="#" class="upcoming_history_button">Upcoming</a>
      </div>
		</div>
		<div class="events_update">
			<ul>
				<li id="no_event_holder">
	                I am Superadmin
	             </li>
			</ul>		
		</div>
	</div>
	<!-- end of EVENTS section -->



</div>




</body>
</html>