<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Edit event</title>
<%= stylesheet_link_tag    "new_event.css", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
<%= render 'layouts/shim' %>


</head>

<body>

<!-- navigation bar section -->
<div class="menu1">
  <div class="page_width1">
    <% if signed_in? %>
      <% if is_charity?%>
        <%= link_to image_tag("Nav-Logo.png", alt: "Home", id: "nav_logo"), home_charity_path(current_user)%>
      <% elsif is_superadmin?%>
        <%= link_to image_tag("Nav-Logo.png", alt: "Home", id: "nav_logo"), '#'%>
      <% else%>
        <%= link_to image_tag("Nav-Logo.png", alt: "Home", id: "nav_logo"), '#'%>
      <%end%>
    <%else%>
      <%= link_to image_tag("Nav-Logo.png", alt: "Home", id: "nav_logo"), '#'%>
    <%end%>

    <a ref="#" id="nav_button">O</a>

    <% if signed_in? %>
      <ul id="pages">
        <%= link_to "<li class='page_name'>Profile</li>".html_safe, current_user %>
        <%= link_to "<li class='page_name'>Activity</li>".html_safe, '#' %>
      </ul>
    <% else %>
      <ul id="pages">
        <a href="#"><li class="page_name">Profile</li></a>
        <a href="#"><li class="page_name">Activity</li></a>
      </ul>
    <% end %>

    <form id="search">
      <input name="search" type="text" value="Search" class="search-input" onfocus="if(this.value == 'Search')  {this.value=''}" onblur="if(this.value == ''){this.value ='Search'}"/>
    </form>
    <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: name %>
      <% end -%>

      <div id="nav_button_div">
          <ul>
            <% if signed_in? %>
              <% if is_charity? %>
                <%= link_to "<li>Settings</li>".html_safe, edit_charity_path(current_user) %>
                <%= link_to "<li>New Event</li>".html_safe, new_event_path %>
              <% elsif is_superadmin? %>
                <%= link_to "<li>Users</li>".html_safe, index1_superadmin_path(current_user) %>
              <% else %>
                <%= link_to "<li>Settings</li>".html_safe, edit_philanthropist_path(current_user) %>
              <% end %>
              <%= link_to "<li id='s-o'>Sign Out</li>".html_safe, signout_path, method: "delete" %>
            <% else %>
                  <a href="#"><li>Settings</li></a>
                  <a href="#"><li id="s-o">Sign Out</li></a>
                <% end %>
            </ul>
        </div>
  </div>
</div>
<!-- end of navigation bar -->





<div class="menu2"> 



<!-- beginning of PAGE CONTENT section -->
       <div id="page_width2">
              <div class="page">
                     <div id="title">
                            Edit event
                     </div>
            <div id="body1">
              <%= render 'shared/error_messages_e' %> 
              <%= form_for(@event) do |f| %>

              <%= f.label :title %><span class="asterisk">*</span><br />
              <%= f.text_field :title, class: "form-input" %>
              <br /><br />

              <%= f.label :description %><span class="asterisk">*</span><br />
              <%= f.text_area :description, class: "form-input", size: "4x6"  %><br /><br />

              <%= f.label :location, "Location Name" %><br />
              <%= f.text_field :location, class: "form-input" %>
              <br /><br />

              <%= f.label :address_line_1, "Address Line 1" %> <br />
              <%= f.text_field :address_line_1, class: "form-input" %>
              <br /><br />

              <%= f.label :address_line_2, "Address Line 2" %><br />
              <%= f.text_field :address_line_2, class: "form-input"  %>
              <br /><br />

              <%= f.label :zip_code, "Zip Code" %><br />
              <%= f.text_field :zip_code, class: "form-input"  %>
              <br /><br />

              <%= f.label :start_date, "Date" %><span class="asterisk">*</span> <br />
              <%= f.date_field :start_date, class: "form-input" %>
              <br /><br />


              <%= f.label :start_time, "Start Time" %><span class="asterisk">*</span><br />
              <%= f.time_field :start_time, class: "form-input"  %>
              <br /><br />

              <%= f.label :end_time, "End Time" %><span class="asterisk">*</span><br />
              <%= f.time_field :end_time, class: "form-input"  %>
              <br /><br /><br />


              <%= f.submit "Update Event", class: "sign-up-button" %><br />
              <% end %>

             
            </div>
       </div>
  </div>

              
<!-- end of PAGE CONTENT section -->




</div>




</body>
</html>