<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= @event.title %></title>
<%= stylesheet_link_tag    "attendees.css", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
<%= render 'layouts/shim' %>

</head>

<body>

<!-- navigation bar section -->
<%= render 'shared/nav_bar_signed_in' %>
<!-- end of navigation bar -->








<div class="menu2"> 

<div class="page_width2">

<!-- beginning of event header section -->
	<div id="event_header_section">
		<div class="event_details">
            <%= link_to "<b id='event_title'>#{@event.title}</b>".html_safe, @event %><br/>
            <%= link_to "<b id='event_date'>#{@event.start_date.strftime('%B %-d, %Y')} | #{@event.start_date.strftime('%A')} #{@event.start_time.strftime('%-I:%M %p')} - #{@event.end_time.strftime('%-I:%M %p')}</b>".html_safe, '#' %><br/>
            <%= link_to "<b id='event_location'>#{@event.location}</b>".html_safe, '#' %><br/><br/>
            <%= link_to "<b id='event_host'>#{@event.charity.name}</b>".html_safe, @event.charity %><br/>
        </div>
	</div>
	
<!-- end of event header section -->






	
	<!-- beginning of under event header section --->
	<div id="under_event_header_section">
		<!-- beginning of GOING & MAPS section -->
		<div id="going_section">



		<!-- LOGIC FOR GO/GOING/EVENT-FULL/EVENT-ENDED BUTTON -->
    <% if Date.today <= @event.start_date %>  
      <% if is_philanthropist? %> 
        <% if @event.attend_limit.blank?%>
          <div id = "attend_form">
            <% if current_user.attending?(@event)%>
              <%= render 'going' %>
            <% else %>
              <%= render 'go' %>
            <%end%>
          </div>
        <% else %>
          <% if @event.philanthropists.count < @event.attend_limit %>
            <div id = "attend_form">
              <% if current_user.attending?(@event)%>
                <%= render 'going' %>
              <% else %>
                <%= render 'go' %>
              <%end%>
            </div>
          <%else%>
            <% if  current_user.events.include?(@event) %>
              <div id = "attend_form">
                <% if current_user.attending?(@event)%>
                  <%= render 'going' %>
                <% else %>
                  <%= render 'go' %>
                <%end%>
              </div>
            <% else %>
              <form id="event_buttons_3">
                <button type="button" class="full_button">Event Full</button>
              </form>
            <% end %>
          <%end%>
        <%end%>
      <% end %>
    <% else %>
      <form id="event_buttons_3">
        <button type="button" class="full_button" style="background-color: #2ecc71; border: 1px solid #2ecc71;">Event Ended</button>
      </form>
    <% end %>
    <!-- END OF LOGIC FOR GO/GOING/EVENT-FULL/EVENT-ENDED BUTTON -->



      <div class="going_header">
          <ul>
              <li><%= link_to "Going (<span id = 'num_attendees'>#{@event.philanthropists.count}</span>)".html_safe, attendees_event_path(@event) %></li>
          </ul>
      </div>
      <div class="going_header">
				<ul>
          <li><%= link_to "<span id='bold'><span>Friends (#{@friends.count})</span></span>".html_safe, friends_event_path(@event) %></li>
				</ul>
			</div>
		</div>
		<!-- end of GOING & MAP section --> 


		
		
		<!-- beginning of INFO section -->
		<div class="user_update">
			<ul>
                <% if @friends.any? %>
                <% @friends.each do |user| %>
                <li>
                    <% if user.philanthropist.avatar.blank? %>
                        <%= link_to image_tag("default-user-avatar.png", class: 'user_pic', width: '63'), user.philanthropist %>
                    <% else %>
                        <%= link_to image_tag(user.philanthropist.avatar.url(:small), class: 'user_pic'), user.philanthropist %>
                    <% end %>
                    <div id="user_text">
                        <%= link_to "<b>#{user.philanthropist.name}</b>".html_safe, user.philanthropist %> <br/>
                        <%= link_to "<b id='user_location'>#{user.philanthropist.zip_code.to_region}</b>".html_safe, '#' %><br/>
                    </div>

                    <% if is_philanthropist? || is_charity? %>
                     <%unless current_user?(user.philanthropist)%>
                        <div id="follow_unfollow_form">
                            <% if current_user.following?(user.philanthropist)%>
                                <%= render partial: 'shared/unfollow_2', locals: {user: user.philanthropist}  %>
                            <% else %>
                                <%= render partial: 'shared/follow_2', locals: {user: user.philanthropist} %>
                            <% end %>
                        </div>
                    <%end%>
                    <%end%>

                </li>
                <% end %>
                <% end%>
            </ul>
		</div>
		<!-- end of INFO sectoin -->
		
		
		
		
	</div> 
</div>
</div>
</body>
</html>