<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>New Event</title>
<%= stylesheet_link_tag    "new_event.css", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
<%= render 'layouts/shim' %>


</head>

<body>

<!-- navigation bar section -->
<%= render 'shared/nav_bar_signed_in' %>
<!-- end of navigation bar -->





<div class="menu2"> 



<!-- beginning of PAGE CONTENT section -->
       <div id="page_width2">
              <div class="page">
                     <div id="title">
                            New Event
                     </div>
            <div id="body1">
              <%= render 'shared/error_messages_e' %>
              <%= form_for(@event) do |f| %>

              <%= f.label :e_type, "Type" %><br /> <br /> 
              <label class="event_type_radio_button">
              <%= f.radio_button(:e_type, "v", checked: true) %>
              Volunteer
              </label>
              <label class="event_type_radio_button">
              <%= f.radio_button(:e_type, "f") %>
              Fundraising
              </label>
              <label class="event_type_radio_button">
              <%= f.radio_button(:e_type, "g") %>
              General
              </label>
              <br /><br />

              <%= f.label :title %><span class="asterisk">*</span><br />
              <%= f.text_field :title, class: "form-input" %>
              <br /><br />

              <%= f.label :description %><span class="asterisk">*</span><br />
              <%= f.cktext_area :description, :class => "ckeditor"%><br /><br />
        
              <%= f.label :location, "Location Name" %><br />
              <%= f.text_field :location, class: "form-input" %>
              <br /><br />

              <%= f.label :address_line_1, "Address Line 1" %> <br />
              <%= f.text_field :address_line_1, class: "form-input" %>
              <br /><br />

              <%= f.label :address_line_2, "Address Line 2" %><br />
              <%= f.text_field :address_line_2, class: "form-input"  %>
              <br /><br />

              <%= f.label :zip_code, "Zip Code" %><br />
              <%= f.text_field :zip_code, class: "form-input"  %>
              <br /><br />

              <%= f.label :start_time, "Start Time" %><span class="asterisk">*</span><br />
              <%= f.datetime_select :start_time, order: [:month, :day, :year], prompt: { day: 'Day', month: 'Month', year: 'Year', hour: 'Hour', minute: 'Minute'}, ampm: true, minute_step: 5, datetime_separator: "", time_separator: ""  %>
              <br /><br />

              <%= f.label :end_time, "End Time" %><span class="asterisk">*</span><br />
              <%= f.datetime_select :end_time, order: [:month, :day, :year], prompt: { day: 'Day', month: 'Month', year: 'Year', hour: 'Hour', minute: 'Minute'}, ampm: true, minute_step: 5, datetime_separator: "", time_separator: ""  %>
              <br /><br />

              <%= f.label :attend_limit, "Attendance Limit" %><br />
              <%= f.text_field :attend_limit, placeholder: 'None', class: "form-input"  %>
              <br /><br />

              <%= f.label :cover_photo, "Cover Photo", id: 'hover' %><span class="asterisk">*</span>
              <div id="hover_2" style="font-size: 12px; position: absolute; margin-left:140px; margin-top: -18px; color: red; display: none;">jpeg or png</div>
              <br />
              <%= f.file_field :cover_photo %>
              <br /><br /><br />


              <%= f.submit "Create Event", class: "sign-up-button" %><br />
              <% end %>

             
            </div>
       </div>
  </div>

              
<!-- end of PAGE CONTENT section -->




</div>




</body>
</html>