<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= @event.title %></title>
<%= stylesheet_link_tag    "event_m.css", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
<%= render 'layouts/shim' %>

</head>

<body>

<!-- navigation bar section -->
<%= render 'shared/nav_bar_signed_in' %>
<!-- end of navigation bar -->








<div class="menu2"> 

<div class="page_width2">

<!-- beginning of event header section -->
	<div id="event_header_section">
		<a href="#">
		<div id="picture_holder">
			<%= image_tag("eventcoverBIG2.jpg", width: '960')%>
		</div>
		</a>
		
		<!-- LOGIC FOR GO/GOING/EVENT-FULL/EVENT-ENDED BUTTON -->
		<% if Date.today <= @event.start_date %>	
			<% if is_philanthropist? %>	
				<% if @event.attend_limit.blank?%>
					<div id = "attend_form">
						<% if current_user.attending?(@event)%>
							<%= render 'going' %>
						<% else %>
							<%= render 'go' %>
						<%end%>
					</div>
				<% else %>
					<% if @event.philanthropists.count < @event.attend_limit %>
						<div id = "attend_form">
							<% if current_user.attending?(@event)%>
								<%= render 'going' %>
							<% else %>
								<%= render 'go' %>
							<%end%>
						</div>
					<%else%>
						<% if  current_user.events.include?(@event) %>
							<div id = "attend_form">
								<% if current_user.attending?(@event)%>
									<%= render 'going' %>
								<% else %>
									<%= render 'go' %>
								<%end%>
							</div>
						<% else %>
							<form id="event_buttons_3">
								<button type="button" class="full_button">Event Full</button>
							</form>
						<% end %>
					<%end%>
				<%end%>
			<% end %>
		<% else %>
			<form id="event_buttons_3">
				<button type="button" class="full_button" style="background-color: #2ecc71; border: 1px solid #2ecc71;">Event Ended</button>
			</form>
		<% end %>
		<!-- END OF LOGIC FOR GO/GOING/EVENT-FULL/EVENT-ENDED BUTTON -->
			

		<% if current_user?(@event.charity) %>
		<div id = "admin_buttons_div">
			<%= link_to "Edit", edit_event_path(@event), class: "admin_buttons" %> 
			<%= link_to "Delete", @event, class: "admin_buttons", method: :delete, data: {confirm: "Delete event?"} %>
        </div>
        <%elsif current_user.type == "Superadmin" %>
        <div id = "admin_buttons_div">
        	<%= link_to "Delete", @event, class: "admin_buttons", method: :delete, data: {confirm: "Delete event?"} %>
        </div>
        <%end%>
		
		<div class="event_details">
			<%= link_to "<b id='event_title'>#{@event.title}</b>".html_safe, @event %><br/>
			<%= link_to "<b id='event_date'>#{@event.start_date.strftime('%B %-d, %Y')} | #{@event.start_date.strftime('%A')} #{@event.start_time.strftime('%-I:%M %p')} - #{@event.end_time.strftime('%-I:%M %p')}</b>".html_safe, '#' %><br/>
			<%= link_to "<b id='event_location'>#{@event.location}</b>".html_safe, '#' %><br/><br/>
			<%= link_to "<b id='event_host'>#{@event.charity.name}</b>".html_safe, @event.charity %><br/>
			<form>
			<input type="button" class="donate_button" value="Donate">
			</form>
		</div>
	</div>
	
<!-- end of event header section -->






	
	<!-- beginning of under event header section --->
	<div id="under_event_header_section">
		<!-- beginning of GOING & MAPS section -->
		<div id="going_map_section">
			<div class="going_header">
				<ul>
					<li><%= link_to "Going (<span id = 'num_attendees'>#{@event.philanthropists.count}</span>)".html_safe, attendees_event_path(@event) %></li>
				</ul>
			</div>
			<div class="going_update">
				<ul>
					
				</ul>	
			</div>
			<div class="map_header">
				<ul>
					<li><a href="#">Maps and Directions</a></li> 
				</ul>
			</div>
			<address class= "map_pic">
				<% if @event.location.present? && @event.address_line_1.present? %>
				<%= @event.address_line_1%>,
				<% else %>
				<%= @event.location %>, <%=@event.address_line_1%>,	
				<% end %>
				<% unless @event.zip_code.blank?%> 
				<%=@event.zip_code.to_region%> <%=@event.zip_code%>
				 <% end%>
			</address>
			<div class="map_update">
				<%= link_to "<b>#{@event.location}</b>".html_safe, '#' %>
				<p><%=  @event.address_line_1 %></p>
				<p><%=  @event.address_line_2 %></p>
				<p>
					<% unless @event.zip_code.blank? %> 
					<%=@event.zip_code.to_region%> <%=@event.zip_code %> 
					<%end%></p>
			</div>
		</div>
		<!-- end of GOING & MAP section --> 


		
		
		<!-- beginning of INFO section -->
		<div id="information_section">
			
			<%= raw@event.description %>
			
			
		</div>
		<!-- end of INFO sectoin -->
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		<!-- beginning of TICKET section -->
		<div id="ticket_section">
			<form id="ticket_header">
				<input type="button" class="ticket_header_button" value="Individual">
				<input type="button" class="ticket_header_button" value="Table">
				<input type="button" class="ticket_header_button" value="Sponsor">
			</form>
			<div class="ticket_wrapper">
				<ul>
					<li>
						<div class="ticket">
							<div class="price_description">
								<div id="price"><b>$100.00</b></div>
								<div id="description"><b>General Admission</b></div>
							</div>
							<form class="purchase_comment">
								<input type="button" class="purchase_button" value="Purchase">
								<textarea name="Comment" cols="35" rows="" onfocus="if(this.value == 'Comments') {this.value=''}" onblur="if(this.value == 
								''){this.value ='Comments'}"/>Comments</textarea>
							</form>
							<div id="ticket_text">
								Includes three-hour open bar, hors d'oeuvres, and a gift bag of fabulous items (must be 21 and over).
							</div>
						</div>
					</li>
					<li>
						<div class="ticket">
							<div class="price_description">
								<div id="price"><b>$150.00</b></div>
								<div id="description"><b>FDNY, NYPD, PAPD Ticket</b></div>
							</div>
							<form class="purchase_comment">
								<input type="button" class="purchase_button" value="Purchase">
								<textarea name="Comment" cols="35" rows="" onfocus="if(this.value == 'Comments') {this.value=''}" onblur="if(this.value == 
								''){this.value ='Comments'}"/>Comments</textarea>
							</form>
							<div id="ticket_text">
								Includes three-hour open bar, hors d'oeuvres, and a gift bag of fabulous items (must be 21 and over). This ticket is for 
								active-duty NYPD, FDNY, and PAPD first responders who protect and serve our community every day. Please provide your badge 
								number to take advantage of this special rate 
							</div>
						</div>
					</li>
				</ul>
				<div class="be_there">
					<form>
						<input type="button" class="be_there_button" value="I'll Be There">
					</form>
					<div id="attending">
						Employees and other individuals who won’t need a ticket should still let their community know that they’ll be attending!!!
					</div>
				</div>	
			</div>
		</div>
		<!-- end of TICKET section -->
		
		
	
	
		
		<!-- beginning of COMMENTS section -->
		<div id="comments_section">
			<div class="comments_header">
				<ul>
					<li><a href="#">Comments (43)</a></li> 
				</ul>
				<form>
					<input name="Comments" type="text" value="Type comment here..." class="comments" onfocus="if(this.value == 'Type comment here...')	
					{this.value=''}" onblur="if(this.value == ''){this.value ='Type comment here...'}"/>
				</form>
			</div>
			<div class="comments_update">
				<ul>
					<li>
						<a href="#">
						<img src="" width="63" height="63" class="friend_pic"/> 
						</a>
						<div id="comments_text">
						<a href="#"><b>Obinna Ezebuiroh</b></a> <br /><br />
						This was an awesome event! 
						</div>
					</li>
					<li>
						<a href="#">
						<img src="" width="63" height="63" class="friend_pic"/> 
						</a>
						<div id="comments_text">
						<a href="#"><b>Chinedu Ezebuiroh</b></a> <br /><br />
						I was wondering what the dress code is going to be for this event?? 
						</div>
					</li>
				</ul>		
			</div>
		</div>
		<!-- end of COMMENTS section --> 
		
	</div> 
</div>
</div>
</body>
</html>