<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= @event.title %></title>

<% if signed_in? %>
<%= stylesheet_link_tag    "event_m.css", media: "all", "data-turbolinks-track" => true %>
<%= stylesheet_link_tag    "social-share-button", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<% else %>
<%= stylesheet_link_tag    "event_m_so.css", media: "all", "data-turbolinks-track" => true %>
<%= stylesheet_link_tag    "social-share-button", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<% end %>
<%= csrf_meta_tags %>
<%= render 'layouts/shim' %>

</head>

<body>

<% if signed_in? %>
<!-- navigation bar section -->
<%= render 'shared/nav_bar_signed_in' %>
<!-- end of navigation bar -->
<% else %>


<!-- navigation bar section -->
<%= render 'shared/nav_bar_signed_out' %>
<!-- end of navigation bar -->

<% end %>








<div class="menu2"> 

<div class="page_width2">

<!-- beginning of event header section -->
	<div id="event_header_section">
		<a href="#">
		<div id="picture_holder">
			<% if @event.cover_photo.blank? %>
	          <%= image_tag("", alt: "pic", width: '960', height: '600') %>
	        <% else %>
	          <%= image_tag(@event.cover_photo.url(:large)) %>
	        <% end %>
		</div>
		</a>
		

	<% if signed_in? %>
		<!-- LOGIC FOR GO/GOING/EVENT-FULL/EVENT-ENDED BUTTON -->
		<% if (Time.now - 4.hours) <= @event.start_time %>	
			<% if is_philanthropist? %>	
				<% if @event.attend_limit.blank?%>
					<div id = "attend_form">
						<% if current_user.attending?(@event)%>
							<%= render 'going' %>
						<% else %>
							<%= render 'go' %>
						<%end%>
					</div>
				<% else %>
					<% if @event.philanthropists.count < @event.attend_limit %>
						<div id = "attend_form">
							<% if current_user.attending?(@event)%>
								<%= render 'going' %>
							<% else %>
								<%= render 'go' %>
							<%end%>
						</div>
					<%else%>
						<% if  current_user.events.include?(@event) %>
							<div id = "attend_form">
								<% if current_user.attending?(@event)%>
									<%= render 'going' %>
								<% else %>
									<%= render 'go' %>
								<%end%>
							</div>
						<% else %>
							<form id="event_buttons_3">
								<button type="button" class="full_button">Event Full</button>
							</form>
						<% end %>
					<%end%>
				<%end%>
			<% end %>
		<% else %>
			<form id="event_buttons_3">
				<button type="button" class="full_button" style="background-color: #2ecc71; border: 1px solid #2ecc71;">Event Closed</button>
			</form>
		<% end %>
		<!-- END OF LOGIC FOR GO/GOING/EVENT-FULL/EVENT-ENDED BUTTON -->
	<% else %>
		<% if (Time.now - 4.hours) <= @event.start_time %>
			<form id="event_buttons_3">
				<%= link_to "<button type='button' class='full_button' style='background-color: #fff; border: 1px solid #fff; color: #2c3e50;'>Go</button>".html_safe, log_in_events_path %>
			</form>
		<% else %>
			<form id="event_buttons_3">
				<%= link_to "<button type='button' class='full_button' style='background-color: #2ecc71; border: 1px solid #2ecc71;'>Event Closed</button>".html_safe, log_in_events_path %>
			</form>
		<% end %>
	<% end %>


	<!-- BEGGINING OF SPOTS LEFT SECTION -->
	<% if  (Time.now - 4.hours) <= @event.start_time && @event.attend_limit.present? && @event.attend_limit - @event.philanthropists.count >= 0 %>
		<form id="spots_left_frame">
			<% if @event.attend_limit - @event.philanthropists.count == 1%>
				<button type="button" class="spots_left_button" title= "Spots Left">Spot (<span id="spots_left_ajax"><%=@event.attend_limit - @event.philanthropists.count %></span>)</button>
			<% elsif @event.attend_limit - @event.philanthropists.count >= 10%>
				<button type="button" class="spots_left_button" title= "Spots Left">Spots (10+)</button>
			<% else %>
				<button type="button" class="spots_left_button" title= "Spots Left">Spots (<span id="spots_left_ajax"><%=@event.attend_limit - @event.philanthropists.count %></span>)</button>
			<% end %>
		</form>
	<% end %>

	<!-- END OF SPOTS LEFT SECTION -->
			

	<% if signed_in? %>
		<% if current_user?(@event.charity) %>
		<div id = "admin_buttons_div">
			<%= link_to "Edit", edit_event_path(@event), class: "admin_buttons" %> 
			<%= link_to "Delete", @event, class: "admin_buttons", method: :delete, data: {confirm: "Delete event?"} %>
        </div>
        <%elsif current_user.type == "Superadmin" %>
        <div id = "admin_buttons_div">
        	<%= link_to "Edit", edit_event_path(@event), class: "admin_buttons" %> 
        	<%= link_to "Delete", @event, class: "admin_buttons", method: :delete, data: {confirm: "Delete event?"} %>
        </div>
        <%end%>
    <% end %>    
		
		<div class="event_details">
			<%= link_to "<b id='event_title'>#{@event.title}</b>".html_safe, @event %><br/>
			<%= link_to "<b id='event_date'>#{@event.start_time.strftime('%B %-d, %Y')} | #{@event.start_time.strftime('%A')} #{@event.start_time.strftime('%-I:%M %p')} - #{@event.end_time.strftime('%-I:%M %p')}</b>".html_safe, '#' %><br/>

			<% if @event.zip_code.blank? %>
                <% if @event.location.present? %>
                	<%= link_to "<b id='event_location'>#{@event.location}</b>".html_safe, '#' %> 
                <% end %>
            <% else %>
              <%= link_to "<b id='event_location'>#{@event.zip_code.to_region}</b>".html_safe, '#' %>
            <% end %>

			<%= social_share_button_tag(@event.title, :popup => "true") %><br/>
			<%= link_to "<b id='event_host'>#{@event.charity.name}</b>".html_safe, @event.charity %><br/>
		</div>
	</div>
	
<!-- end of event header section -->






	
	<!-- beginning of under event header section --->
	<div id="under_event_header_section">
		<!-- beginning of GOING & MAPS section -->
		<div id="going_map_section">
			<div class="going_header">
				<ul>
					<% if (Time.now - 4.hours) <= @event.start_time %>
					<li><%= link_to "Going (<span id = 'num_attendees'>#{@event.philanthropists.count}</span>)".html_safe, attendees_event_path(@event) %></li>
					<% else %>
					<li><%= link_to "Went (<span id = 'num_attendees'>#{@event.philanthropists.count}</span>)".html_safe, attendees_event_path(@event) %></li>
					<% end %>
				</ul>
			</div>
			<div class="going_update">
				<ul>
					
				</ul>	
			</div>

		
			<div class="map_header">
				<ul>
					<li><a href="#">Maps and Directions</a></li> 
				</ul>
			</div>
			<address class= "map_pic">
				<% if @event.location.present? && @event.address_line_1.present? %>
				<%= @event.address_line_1%>,
				<% else %>
				<%= @event.location %>, <%=@event.address_line_1%>,	
				<% end %>
				<% unless @event.zip_code.blank?%> 
				<%=@event.zip_code.to_region%> <%=@event.zip_code%>
				 <% end%>
			</address>
			<div class="map_update">
				<%= link_to "<b>#{@event.location}</b>".html_safe, '#' %>
				<p><%=  @event.address_line_1 %></p>
				<p><%=  @event.address_line_2 %></p>
				<p>
					<% unless @event.zip_code.blank? %> 
					<%=@event.zip_code.to_region%> <%=@event.zip_code %> 
					<%end%></p>
			</div>
		

		</div>
		<!-- end of GOING & MAP section --> 
	

		
		
		<!-- beginning of INFO section -->
		<div id="information_section">
			
			<%= raw@event.description %>
			
			
		</div>
		<!-- end of INFO sectoin -->
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		<!-- beginning of TICKET section -->
		
		<!-- end of TICKET section -->
		
		
	
	
		
		<!-- beginning of COMMENTS section -->
		
		<!-- end of COMMENTS section --> 
		
	</div> 
</div>


<% unless signed_in? %>
<!-- beginning of FOOTER section -->

	<div id="page_width3">
		<div class="footer">
			<ul>
            	<li><%= link_to "About", about_path %></li>
            	<li><%= link_to "Terms", terms_path %></li>
            	<li><%= link_to "Privacy", privacy_path %></li>
            	<li><%= link_to "Help", help_path %></li>
            </ul>
		</div>				
	</div>

<!-- end of FOOTER section -->
<% end %>


</div>
</body>
</html>