<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= @charity.name %></title>

<% if signed_in?%>
<%= stylesheet_link_tag    "charity_about.css", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<% else %>
<%= stylesheet_link_tag    "charity_about_so.css", media: "all", "data-turbolinks-track" => true %>
<% end %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>

</head>

<body>

<% if signed_in? %>
<!-- navigation bar section -->
<%= render 'shared/nav_bar_signed_in' %>
<!-- end of navigation bar -->
<% else %>

<!-- navigation bar section -->
<%= render 'shared/nav_bar_signed_out' %>
<!-- end of navigation bar -->

<%end %>






<div class="menu2"> 

<!-- beginning of cover photo section -->
    <div id="page_width2">
        <div id="cover_photo_section">
            <div id="name">
                <%= link_to @charity.name, @charity %>
            </div>
            <div id="location">
                <a href="#"><%= @charity.zip_code.to_region %></a>
            </div>

           <div id="buttons_left">
                <%= link_to "Upcoming", @charity, class: "left_button"%>
                <%= link_to "History", history_charity_path(@charity), class: "left_button"%>
                <% if signed_in?%>
                  <%= link_to "Community", followers_charity_path(@charity), class: "left_button"%>
                <% end %>
                <%= link_to "About", about_charity_path(@charity) , class: "left_button", id: "underline1"%>
            </div>

            <% if signed_in? %>
                <% if is_philanthropist? || is_charity? %>
                  <%unless current_user?(@user)%>
                    <div id = "buttons_right_holder">
                        <div id="buttons_right">
                            <% if current_user.following?(@user)%>
                                <%= render 'shared/unfollow_1' %>
                            <% else %>
                                <%= render 'shared/follow_1' %>
                            <%end%>
                        </div>
                    </div>
                  <%end%>
                <%end%>
            <% end %>

        </div>
        <div id="profile_pic">
            <% if current_user?(@charity) %>
                  <%= link_to image_tag("edit_profile_pic_icon_1.jpg", id: "pp_edit_icon", title: "Update Profile Picture"), edit_charity_path(current_user) %>
            <% end %> 

            <% if @charity.avatar.blank? %>
                <%= image_tag("default-user-avatar.png", width: '134', style: "border-radius:85px") %>
            <% else %>
                <%= image_tag @charity.avatar.url(:medium), style: "border-radius:70px" %>
            <%end %>

        </div>
    </div>
    
        
<!-- end of cover photo section -->






<!-- beginning of EVENTS section -->
	<div id="page_width3">
		<div class="about_header">
			<ul>
				<li><%= link_to "About", about_charity_path(@charity) %></li> 
			</ul>
		</div>
		<div id="body">
        <b>Legal Name</b>
        <p><%= @charity.legal_name %></p>
        <p><b>Mission</b></p>
        <p><%= @charity.mission%></p>
        <p><b>EIN</b></p>
        <p><%= @charity.ein[0..1]%>-<%= @charity.ein[2..8]%></p>
        <p><b>Contact Person</b></p>
        <p><%= @charity.contact_person%></p>
        <p><b>Email</b></p>
        <p><%= @charity.email%></p>
        <p><b>Phone Number</b></p>
        <p>(<%= @charity.phone[0..2]%>) <%= @charity.phone[3..5]%>-<%= @charity.phone[6..9]%></p>
		</div>
	</div>
	<!-- end of EVENTS section -->



</div>




</body>
</html>