<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Edit Profile</title>
<%= stylesheet_link_tag    "edit2.css", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
<%= render 'layouts/shim' %>

</head>

<body>

<!-- navigation bar section -->
<%= render 'shared/nav_bar_signed_in' %>
<!-- end of navigation bar -->






<div class="menu2"> 



<!-- beginning of PAGE CONTENT section -->
       <div id="page_width2">
            <!-- beginning of control panel -->
            <div class="control_panel">
                <%= link_to "Edit Profile", edit_charity_path(current_user), class: "control_panel_link", id: "chosen" %>
                <%= link_to "Change Password", change_password_charity_path(current_user), class: "control_panel_link" %>
            </div>
            <!-- end of control panel section -->
              <div class="page">
                     <div id="title">
                            Edit Profile
                     </div>
            <div id="body1">
              <%= render 'shared/error_messages_c' %>
              <%= form_for(@charity) do |f| %>

              <%= f.label :legal_name, "Legal Name" %><br />
              <%= f.text_field :legal_name, class: "form-input" %>
              <br /><br />

              <%= f.label :name, "Display Name" %><br />
              <%= f.text_field :name, class: "form-input" %>
              <br /><br />

              <%= f.label :mission %><br />
              <%= f.text_area :mission, size: "4x6", class: "form-input"  %>
              <br /><br />

              <%= f.label :ein, "EIN" %> <br />
              <%= f.text_field :ein, class: "form-input" %>
              <br /><br />

              <%= f.label :zip_code, "Zip Code" %><br />
              <%= f.text_field :zip_code, class: "form-input"  %>
              <br /><br />

              <%= f.label :contact_person, "Contact Person" %><br />
              <%= f.text_field :contact_person, class: "form-input"  %>
              <br /><br />

              <%= f.label :email %> <br />
              <%= f.text_field :email, class: "form-input" %>
              <br /><br />


              <%= f.label :phone, "Phone Number" %><br />
              <%= f.text_field :phone, class: "form-input"  %>
              <br /><br />


              <%= f.label :avatar, "Photo", id: 'hover' %>
              <%= link_to 'X', no_avatar_charity_path(@charity), id: "d-i" , method: :patch, data: {confirm: "Delete profile pic?"}, remote: true  %>
              <div id="hover_2" style="font-size: 12px; position: absolute; margin-left:280px; margin-top: -18px; color: red; display: none;">jpeg or png</div>
              <br />
              <%= f.file_field :avatar %>
              <br /><br /><br />

               

              <%= f.submit "Save Changes", class: "sign-up-button" %><br />
              <% end %>


            </div>
              </div>
       </div>

              
<!-- end of PAGE CONTENT section -->




</div>




</body>
</html>