<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Home | <%= @charity.name %></title>
<%= stylesheet_link_tag    "home2_c.css", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>
 	<%= render 'layouts/shim' %>

</head>

<body>

<!-- navigation bar section -->
<div class="menu1">
  <div class="page_width1">
  	<% if signed_in? %>
  		<% if is_charity?%>
  			<%= link_to image_tag("Nav-Logo.png", alt: "Home", id: "nav_logo"), home_charity_path(current_user)%>
  		<% elsif is_superadmin?%>
  			<%= link_to image_tag("Nav-Logo.png", alt: "Home", id: "nav_logo"), '#'%>
  		<% else%>
  			<%= link_to image_tag("Nav-Logo.png", alt: "Home", id: "nav_logo"), home_philanthropist_path(current_user) %>
  		<%end%>
  	<%else%>
    	<%= link_to image_tag("Nav-Logo.png", alt: "Home", id: "nav_logo"), '#'%>
    <%end%>

    <a ref="#" id="nav_button">O</a>

    <% if signed_in? %>
      <ul id="pages">
        <%= link_to "<li class='page_name'>Profile</li>".html_safe, current_user %>
        <%= link_to "<li class='page_name'>Activity</li>".html_safe, '#' %>
      </ul>
    <% else %>
      <ul id="pages">
        <a href="#"><li class="page_name">Profile</li></a>
        <a href="#"><li class="page_name">Activity</li></a>
      </ul>
    <% end %>

    <%= form_for(events_path, method: "get", id: "search" , url: events_url) do  %>
      <%= text_field_tag :search, params[:search], placeholder: 'Search', class: "search-input"%>
    <% end %>
    <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: name %>
      <% end -%>

      <div id="nav_button_div">
          <ul>
            <% if signed_in? %>
              <% if is_charity? %>
                <%= link_to "<li>Settings</li>".html_safe, edit_charity_path(current_user) %>
                <%= link_to "<li>New Event</li>".html_safe, new_event_path %>
              <% elsif is_superadmin? %>
                <%= link_to "<li>Users</li>".html_safe, index1_superadmin_path(current_user) %>
              <% else %>
                <%= link_to "<li>Settings</li>".html_safe, edit_philanthropist_path(current_user) %>
              <% end %>
              <%= link_to "<li id='s-o'>Sign Out</li>".html_safe, signout_path, method: "delete" %>
            <% else %>
                  <a href="#"><li>Settings</li></a>
                  <a href="#"><li id="s-o">Sign Out</li></a>
                <% end %>
            </ul>
        </div>
  </div>
</div>
<!-- end of navigation bar -->







<div class="menu2"> 



<!-- beginning of EVENTS section -->
	<div id="page_width2">
		<div class="events_header1">
			<div id="name">
				<%= link_to current_user.name, current_user %>
			</div>
			<ul>
				<li><a href="#">Events: <%=@charity.events.count%></a></li> 
				<!--<li><a href="#">Hours: 12</a></li>-->
			</ul>
		</div>
		<div class="events_header2">
			<form id="header2_buttons">
			<input type="submit" class="header_button" id="selected" value="Community">
			<input type="submit" class="header_button" value="Upcoming">
			<input type="submit" class="header_button" value="History">
			<input type="submit" class="header_button" value="Invited">
			</form>
		</div>
		<div class="events_update">
			<ul>
				<%if @final_feed.any? %>

					<% @months.each do |month| %>	
						
	                	<% month_feed = @final_feed.select {|x| x.start_date.strftime('%B %Y') == month } %>
	                	<% month_feed.each do |event| %>
		                	<li>
		                		<div id="event_month_header">
	                				<% if event == month_feed[0] %>
	                					<%= month %>
	                				<% end %>
	                			</div>
								<!-- photo 100% on MS word.. height 2.3 and width 3.18-->
								<%= link_to image_tag("eventpic1.gif", alt: "pic", class: "event_pic"), event %>
								<div>
									<% unless event.follows_at_event(current_user).count == 0 %>
										<%= link_to "#{event.follows_at_event(current_user).count}", '#', class: "num_friends_link" %>
									<% end%>
									<% if current_user.id == event.charity.id %>
                        				<%= image_tag("star.png", alt: "pic", class: "going_star")%>
                        			<% end %>
								</div>
								<div id="events_text">
									<%= link_to "<b id='event_title'>#{event.title}</b>".html_safe, event %><br />
									<%= link_to "<b id='event_organization'>#{event.charity.name}</b>".html_safe, event.charity %> <br />
									<%= link_to "<b id='event_date'>#{event.start_date.strftime('%A')} | #{event.start_date.strftime('%B %-d')} @ #{event.start_time.strftime('%-I:%M %p')}</b>".html_safe, '#' %> <br />
									<% if event.zip_code.blank? %>
									<%= link_to "<b id='event_city'>#{event.location}</b>".html_safe, '#' %><br /> 
									<% else %>
									<%= link_to "<b id='event_city'>#{event.zip_code.to_region}</b>".html_safe, '#' %><br />  
									<% end %>
								</div>
							</li>
						<%end %>
					<%end%>
				<% else %>
					<li id="no_event_holder">
	                No Feed Events
	                </li>
				<%end%>
			</ul>		
		</div>
	</div>
	
		
<!-- end of EVENTS section -->
		


</div>




</body>
</html>