<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= @charity.name %></title>
<%= stylesheet_link_tag    "profile2_c.css", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>
 	<%= render 'layouts/shim' %>

</head>

<body>

<!-- navigation bar section -->
<%= render 'shared/nav_bar_signed_in' %>
<!-- end of navigation bar -->






<div class="menu2"> 

<!-- beginning of cover photo section -->
	<div id="page_width2">
		<div id="cover_photo_section">
			<div id="name">
				<%= link_to @charity.name, @charity %>
			</div>
			<div id="location">
				<a href="#"><%= @charity.zip_code.to_region %></a>
			</div>

			<div id="buttons_left">
        <%= link_to "Upcoming", @charity, class: "left_button", id: "underline1"%>
        <%= link_to "History", history_charity_path(@charity), class: "left_button"%>
        <%= link_to "Community", followers_charity_path(@charity), class: "left_button"%>
        <%= link_to "About", about_charity_path(@charity), class: "left_button" %>
			</div>

			<% if is_philanthropist? || is_charity? %>
			  <%unless current_user?(@user)%>
              <div id = "buttons_right_holder">
            		<div id="buttons_right">
             			<% if current_user.following?(@user)%>
                			<%= render 'shared/unfollow_1' %>
              		<% else %>
                			<%= render 'shared/follow_1' %>
              		<%end%>
            		</div>
              </div>
          	  <%end%>
        	<%end%>

		</div>
		<div id="profile_pic">
        <% if current_user?(@charity) %>
              <%= link_to image_tag("edit_profile_pic_icon_1.jpg", id: "pp_edit_icon", title: "Update Profile Picture"), edit_charity_path(current_user) %>
        <% end %> 

        <% if @charity.avatar.blank? %>
            <%= image_tag("default-user-avatar.png", width: '134', style: "border-radius:85px") %>
        <% else %>
            <%= image_tag @charity.avatar.url(:medium), style: "border-radius:70px" %>
        <%end %>

    </div>
	</div>
	
		
<!-- end of cover photo section -->





<!-- beginning of EVENTS sectoin -->
	<div id="page_width3">
		<div class="events_header">
			<ul>
        <li><%=link_to "Events: #{@final_feed.count}", @charity %></li>  
				<!--<li><a href="#">Hours: 12</a></li>-->
			</ul>
            <div id="event_feed_toggle">
        		<%= link_to "Upcoming", history_charity_path(@charity), class: "upcoming_history_button" %>
      		</div>
		</div>
		<div class="events_update">
			<ul>
				<%if @final_feed.any? %>

          <% @months.each do |month| %> 
            
            <% month_feed = @final_feed.select {|x| x.start_time.strftime('%B %Y') == month } %>
            <% month_feed.each do |event| %>
            <li>
                <div>
                   <%= link_to "#{event.philanthropists.count} Going", attendees_event_path(event), class: "num_going_link" %>
                   <% unless event.follows_at_event(current_user).count == 0 %>
                      <% if event.follows_at_event(current_user).count == 1 %>
                        <%= link_to "#{event.follows_at_event(current_user).count} Friend", friends_event_path(event), class: "num_friends_link" %>
                      <% else %>
                        <%= link_to "#{event.follows_at_event(current_user).count} Friends", friends_event_path(event), class: "num_friends_link" %>
                      <% end %>
                   <% end%>
                </div>

                <div id="event_month_header">
                  <% if event == month_feed[0] %>
                    <%= month %>
                  <% end %>
                </div>
                <!-- photo 100% on MS word.. height 2.3 and width 3.18-->
                <% if event.cover_photo.blank? %>
                  <%= link_to image_tag("", alt: "pic", class: "event_pic"), event %>
                <% else %>
                  <%= link_to image_tag(event.cover_photo.url(:medium), class: 'event_pic'), event %>
                <% end %>


                <% if is_charity? or is_philanthropist? %>
                    <div>
                      <% if is_philanthropist? %>
                        <%if current_user.attending?(event)%> 
                          <a href="#" class="gwo">GOING</a>
                        <% end %>
                      <% elsif is_charity? %>
                        <% if current_user.id == event.charity.id %>
                          <a href="#" class="gwo">OWNER</a>
                        <% end %>
                      <% end %> 
                    </div>
                <%end%>

                <div id="events_text">
                  <%= link_to "<b id='event_title'>#{event.title}</b>".html_safe, event %><br />
                  <%= link_to "<b id='event_organization'>#{event.charity.name}</b>".html_safe, event.charity %> <br />
                  <%= link_to "<b id='event_date'>#{event.start_time.strftime('%A')} | #{event.start_time.strftime('%B %-d')} @ #{event.start_time.strftime('%-I:%M %p')}</b>".html_safe, '#' %> <br />
                  <% if event.zip_code.blank? %>
                  <%= link_to "<b id='event_city'>#{event.location}</b>".html_safe, '#' %><br /> 
                  <% else %>
                  <%= link_to "<b id='event_city'>#{event.zip_code.to_region}</b>".html_safe, '#' %><br />  
                  <% end %>
                </div>
              </li>
            <%end %>
          <%end%>
        <% else %>
					<li id="no_event_holder">
	                No Upcoming Events
	         </li>
				<%end%>
			</ul>		
		</div>
	</div>
	<!-- end of EVENTS section -->



</div>




</body>
</html>