<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Change Password</title>
<%= stylesheet_link_tag    "edit1.css", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
<%= render 'layouts/shim' %>

</head>

<body>

<!-- navigation bar section -->
<%= render 'shared/nav_bar_signed_in' %>
<!-- end of navigation bar -->






<div class="menu2"> 



<!-- beginning of PAGE CONTENT section -->
       <div id="page_width2">
            <!-- beginning of control panel -->
            <div class="control_panel_2">
                <%= link_to "Edit Profile", edit_philanthropist_path(current_user), class: "control_panel_link" %>
                <%= link_to "Email Settings", email_settings_philanthropist_path(current_user), class: "control_panel_link" %>
                <%= link_to "Change Password", change_password_philanthropist_path(current_user), class: "control_panel_link", id: "chosen" %>
            </div>
            <!-- end of control panel section -->
            <div class="page">
                   <div id="title">
                          Change Password
                   </div>
            <div id="body1">
              <%= render 'shared/error_messages_p' %>
              <%= form_for(@philanthropist, url: { action: "update_password" }) do |f| %>

              <%= f.label :password %><br />
              <%= f.password_field :password, class: "form-input"  %>
              <br /><br />

              <%= f.label :password_confirmation, "Confirm Password" %><br />
              <%= f.password_field :password_confirmation, class: "form-input"  %>
              <br /><br /><br />

              <%= f.submit "Save Changes", class: "sign-up-button" %><br />
              <% end %>
              
            </div>
              </div>
       </div>

              
<!-- end of PAGE CONTENT section -->




</div>




</body>
</html>