<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= @philanthropist.name %></title>
<%= stylesheet_link_tag    "followers_p.css", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>

</head>

<body>

<!-- navigation bar section -->
<%= render 'shared/nav_bar_signed_in' %>
<!-- end of navigation bar -->






<div class="menu2"> 




<!-- beginning of cover photo section -->
    <div id="page_width2">
        <div id="cover_photo_section">
            <div id="name">
                <%= link_to @philanthropist.name, @philanthropist %>
            </div>
            <div id="location">
                <a href="#"><%= @philanthropist.zip_code.to_region %></a>
            </div>

            <div id="buttons_left">
                <%= link_to "Events", @philanthropist, class: "left_button"%>
                <%= link_to "Community", followers_philanthropist_path(@philanthropist), class: "left_button", id: "underline1" %>
            </div>

            <% if is_philanthropist? || is_charity? %>
              <%unless current_user?(@user)%>
                <div id="buttons_right">
                    <% if current_user.following?(@user)%>
                        <%= render 'shared/unfollow_1' %>
                    <% else %>
                        <%= render 'shared/follow_1' %>
                    <%end%>
                </div>
              <%end%>
            <%end%>
            

        </div>
        <div id="profile_pic">
        </div>
    </div>
    
        
<!-- end of cover photo section -->





<!-- beginning of followers sectoin -->
	<div id="page_width3">
		<div class="community_header">
        	<div id="follower_header">
                <%= link_to "Followers: <span id='num_followers'>#{@user.followers_count}</span>".html_safe, followers_philanthropist_path(@philanthropist)%>
            </div>
            <div id="following_header">
                <%= link_to "Following: <span id='num_following'>#{@user.follow_count}</span>".html_safe, following_philanthropist_path(@philanthropist)%>
            </div>
		</div>
        <div class="user_update">
            <ul>
                <% if @followers.any? %>
                <% @followers.each do |user| %>
                <li>
                    <a href="#">
                    <img src="" width="63" height="63" class="user_pic"/> 
                    </a>
                    <% if user.follower.type == 'Charity'%>
                        <span id="id"></span>
                    <% end %>
                    <div id="user_text">
                        <%= link_to "<b>#{user.follower.name}</b>".html_safe, user.follower %> <br/>
                        <%= link_to "<b id='user_location'>#{user.follower.zip_code.to_region}</b>".html_safe, '#' %><br/>
                    </div>

                    <% if is_philanthropist? || is_charity? %>
                     <%unless current_user?(user.follower)%>
                        <div id="follow_unfollow_form">
                            <% if current_user.following?(user.follower)%>
                                <%= render partial: 'shared/unfollow_2', locals: {user: user.follower}  %>
                            <% else %>
                                <%= render partial: 'shared/follow_2', locals: {user: user.follower} %>
                            <% end %>
                        </div>
                    <%end%>
                    <%end%>

                </li>
                <% end %>
                <% end%>
            </ul>		
        </div>
	</div>
	<!-- end of followers section -->



</div>




</body>
</html>