<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= @philanthropist.name %></title>
<%= stylesheet_link_tag    "profile2_p.css", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>
 	<%= render 'layouts/shim' %>

</head>

<body>

<!-- navigation bar section -->
<div class="menu1">
  <div class="page_width1">
  	<% if signed_in? %>
  		<% if is_charity?%>
  			<%= link_to image_tag("Nav-Logo.png", alt: "Home", id: "nav_logo"), home_charity_path(current_user)%>
  		<% elsif is_superadmin?%>
  			<%= link_to image_tag("Nav-Logo.png", alt: "Home", id: "nav_logo"), '#'%>
  		<% else%>
  			<%= link_to image_tag("Nav-Logo.png", alt: "Home", id: "nav_logo"), home_philanthropist_path(current_user)%>
  		<%end%>
  	<%else%>
    	<%= link_to image_tag("Nav-Logo.png", alt: "Home", id: "nav_logo"), '#'%>
    <%end%>

    <a ref="#" id="nav_button">O</a>

    <% if signed_in? %>
      <ul id="pages">
        <%= link_to "<li class='page_name'>Profile</li>".html_safe, current_user %>
        <%= link_to "<li class='page_name'>Activity</li>".html_safe, '#' %>
      </ul>
    <% else %>
      <ul id="pages">
        <a href="#"><li class="page_name">Profile</li></a>
        <a href="#"><li class="page_name">Activity</li></a>
      </ul>
    <% end %>

    <%= form_for(events_path, method: "get", id: "search" , url: events_url) do  %>
      <%= text_field_tag :search, params[:search], placeholder: 'Search', class: "search-input"%>
    <% end %>
    <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: name %>
      <% end -%>

      <div id="nav_button_div">
          <ul>
            <% if signed_in? %>
              <% if is_charity? %>
                <%= link_to "<li>Settings</li>".html_safe, edit_charity_path(current_user) %>
                <%= link_to "<li>New Event</li>".html_safe, new_event_path %>
              <% elsif is_superadmin? %>
                <%= link_to "<li>Users</li>".html_safe, index1_superadmin_path(current_user) %>
              <% else %>
                <%= link_to "<li>Settings</li>".html_safe, edit_philanthropist_path(current_user) %>
              <% end %>
              <%= link_to "<li id='s-o'>Sign Out</li>".html_safe, signout_path, method: "delete" %>
            <% else %>
                  <a href="#"><li>Settings</li></a>
                  <a href="#"><li id="s-o">Sign Out</li></a>
                <% end %>
            </ul>
        </div>
  </div>
</div>
<!-- end of navigation bar -->






<div class="menu2"> 




<!-- beginning of cover photo section -->
	<div id="page_width2">
		<div id="cover_photo_section">
			<div id="name">
				<%= link_to @philanthropist.name, @philanthropist %>
			</div>
			<div id="location">
				<a href="#"><%= @philanthropist.zip_code.to_region %></a>
			</div>

			<div id="buttons_left">
        <%= link_to "Events", @philanthropist, class: "left_button", id: "underline1"%>
        <%= link_to "Community", followers_philanthropist_path(@philanthropist), class: "left_button" %>
			</div>

			<% if is_philanthropist? || is_charity? %>
			  <%unless current_user?(@user)%>
          		<div id="buttons_right">
           			<% if current_user.following?(@user)%>
              			<%= render 'shared/unfollow_1' %>
            		<% else %>
              			<%= render 'shared/follow_1' %>
            		<%end%>
          		</div>
          	  <%end%>
        	<%end%>
			

		</div>
		<div id="profile_pic">
		</div>
	</div>
	
		
<!-- end of cover photo section -->





<!-- beginning of EVENTS sectoin -->
	<div id="page_width3">
		<div class="events_header">
			<ul>
				<li><a href="#">Events: <%= @final_feed.count %></a></li> 
				<!--<li><a href="#">Hours: 12</a></li>-->
			</ul>
            <div id="event_feed_toggle">
              <%= link_to "History", @philanthropist, class: "upcoming_history_button" %>
      		</div>
		</div>
		<div class="events_update">
			<ul>
        <%if @final_feed.any? %>

          <% @months.each do |month| %> 
              
              <% month_feed = @final_feed.select {|x| x.start_date.strftime('%B %Y') == month } %>
              <% month_feed.each do |event| %>
                <li>
                  <div id="event_month_header">
                    <% if event == month_feed[0] %>
                      <%=month %>
                    <%end%>
                  </div>
                  <!-- photo 100% on MS word.. height 2.3 and width 3.18-->
                  <%= link_to image_tag("eventpic1.gif", alt: "pic", class: "event_pic"), event %>
                  <% if is_charity? or is_philanthropist? %>
                      <div>
                        <% unless event.follows_at_event(current_user).count == 0 %>
                          <%= link_to "#{event.follows_at_event(current_user).count}", friends_event_path(event), class: "num_friends_link" %>
                        <% end%>
                        <% if is_philanthropist? %>
                          <%if current_user.attending?(event)%> 
                            <%= image_tag("star.png", alt: "pic", class: "going_star")%>
                          <% end %>
                        <% elsif is_charity? %>
                          <% if current_user.id == event.charity.id %>
                            <%= image_tag("star.png", alt: "pic", class: "going_star")%>
                          <% end %>
                        <% end %> 
                      </div>
                  <% else %>
                      <div>
                          <% unless event.attendances.count == 0 %>
                              <%= link_to "#{event.attendances.count}", attendees_event_path(event), class: "num_friends_link" %>
                          <%end%>
                      </div>
                  <%end%>
                  <div id="events_text">
                    <%= link_to "<b id='event_title'>#{event.title}</b>".html_safe, event %><br />
                    <%= link_to "<b id='event_organization'>#{event.charity.name}</b>".html_safe, event.charity %> <br />
                    <%= link_to "<b id='event_date'>#{event.start_date.strftime('%A')} | #{event.start_date.strftime('%B %-d')} @ #{event.start_time.strftime('%-I:%M %p')}</b>".html_safe, '#' %> <br />
                    <% if event.zip_code.blank? %>
                    <%= link_to "<b id='event_city'>#{event.location}</b>".html_safe, '#' %><br /> 
                    <% else %>
                    <%= link_to "<b id='event_city'>#{event.zip_code.to_region}</b>".html_safe, '#' %><br />  
                    <% end %>
                  </div>
                </li>
            <%end %>
          <%end%>
        <% else %>
					<li id="no_event_holder">
	                No History of Events
	         </li>
				<%end%>
			</ul>		
		</div>
	</div>
	<!-- end of EVENTS section -->



</div>




</body>
</html>