<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Sign up for Cherry Ivy</title>
  <%= stylesheet_link_tag    "signup1.css", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>

<body>

<!-- navigation bar section -->
<div class="menu1">
  <div class="page_width1">
    <%= link_to image_tag("Nav-Logo.png", alt: "Home", id: "nav_logo"), root_path %>
    <%= link_to image_tag("Nav-Name.png", alt: "Home", id: "nav_name"), root_path %>
    <div id="admin">
      <%= link_to "Sign Up", signup1_path, class: "admin_button_a" %>
      <%= link_to "Log In", login_path, class: "admin_button_a" %>
    </div>        
  </div>
</div>
<!-- end of navigation bar -->






<div class="menu2"> 



<!-- beginning of PAGE CONTENT section -->
  <div id="page_width2">
    <div class="page">
      <div id="title">
        Sign Up
      </div>
            <div id="body1">
              <ul>
                  <li id="underline">
                    <%= link_to "Philanthropist", signup1_path %>
                  </li>
                  <li>
                    <%= link_to "Charity", signup2_path %>
                  </li>
              </ul>
              <div id="help">
                  <%= link_to image_tag("help_icon_5.png", width: '15px', title: 'Help'), help_path %>  
              </div>
            </div>
            <div id="body2">
              <%= render 'shared/error_messages_p' %>
              <%= form_for(@philanthropist) do |f| %>

              <%= f.label :name, "Full Name" %><br />
              <%= f.text_field :name, class: "form-input" %>
              <br /><br />

              <%= f.label :email %> <br />
              <%= f.text_field :email, class: "form-input" %>
              <br /><br />

              <%= f.label :birth_date, "Date of Birth" %><br />
              <%= f.date_select :birth_date, order: [:month, :day, :year], prompt: { day: 'Day', month: 'Month', year: 'Year' }, start_year: 1905, use_short_month: true  %>
              <br /><br />

              <%= f.label :zip_code, "Zip Code" %><br />
              <%= f.text_field :zip_code, class: "form-input"  %>
              <br /><br />

              <%= f.label :password %><br />
              <%= f.password_field :password, class: "form-input"  %>
              <br /><br />

              <%= f.label :password_confirmation, "Confirm Password" %><br />
              <%= f.password_field :password_confirmation, class: "form-input"  %>
              <br /><br /><br />

              <%= f.submit "Sign Up", class: "sign-up-button" %><br />
              <% end %>
            </div>
    </div>
  </div>

    
<!-- end of PAGE CONTENT section -->



<!-- beginning of FOOTER section -->

  <div id="page_width3">
    <div class="footer">
      <ul>
              <li><%= link_to "About", about_path %></li>
              <li><%= link_to "Terms", terms_path %></li>
              <li><%= link_to "Privacy", privacy_path %></li>
              <li><%= link_to "Help", help_path %></li>
            </ul>
    </div>        
  </div>

<!-- end of FOOTER section -->

</div>


</body>
</html>