<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Nearby</title>
<%= stylesheet_link_tag    "home2_p.css", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>
 	<%= render 'layouts/shim' %>

</head>

<body>

<!-- navigation bar section -->
<%= render 'shared/nav_bar_signed_in' %>
<!-- end of navigation bar -->







<div class="menu2"> 



<!-- beginning of EVENTS section -->
	<div id="page_width2">
		<div class="events_header1">				
			<div id="name">
				<% if is_philanthropist? %>
					<%=link_to image_tag("nearby_icon_2.png", width: '30px', id: 'nearby_button', title: "Home"), home_philanthropist_path(current_user) %>
				<% elsif is_charity? %>
					<%=link_to image_tag("nearby_icon_2.png", width: '30px', id: 'nearby_button' , title: "Home"), home_charity_path(current_user)%>
				<% end %>

				<%= link_to "Nearby", nearby_activities_path %>	
			</div>
			<ul>
				<!--<li><a href="#">Events: </a></li> -->
				<!--<li><a href="#">Hours: 12</a></li>-->
			</ul>
		</div>
		<div class="events_header2">
			<form id="header2_buttons">
			<input type="submit" class="header_button" id="selected" value="Community">
			<input type="submit" class="header_button" value="Upcoming">
			<input type="submit" class="header_button" value="History">
			<input type="submit" class="header_button" value="Invited">
			</form>
		</div>
		<div class="events_update">
			<ul>
				<%if @nearby_events.any? %>

					<% @months.each do |month| %>	
						
	                	<% month_feed = @nearby_events.select {|x| x.start_time.strftime('%B %Y') == month } %>
	                	<% month_feed.each do |event| %>
		                	<li>
		                		<div>
								     <%= link_to "#{event.philanthropists.count} Going", attendees_event_path(event), class: "num_going_link" %>
								     <% unless event.follows_at_event(current_user).count == 0 %>
								     	<% if event.follows_at_event(current_user).count == 1 %>
								     		<%= link_to "#{event.follows_at_event(current_user).count} Friend", friends_event_path(event), class: "num_friends_link" %>
								     	<% else %>
											<%= link_to "#{event.follows_at_event(current_user).count} Friends", friends_event_path(event), class: "num_friends_link" %>
										<% end %>
									<% end%>
								</div>


								<div>
									<% if event.e_type == "v" || event.e_type.blank? %>
										<%= image_tag("v_event_icon_1.png", width: "27px", class: "event_icon", title: "Volunteer Event")%>
									<% elsif event.e_type == "f" %>
										<%= image_tag("f_event_icon_1.png", width: "27px", class: "event_icon", title: "Fundraising Event")%>
									<% elsif event.e_type == "g" %>
										<%= image_tag("g_event_icon_1.png", width: "27px", class: "event_icon", title: "General Event")%>
									<% end %>
								</div>
								

		                		<div id="event_month_header">
	                				<% if event == month_feed[0] %>
	                					<%= month %>
	                				<%end%>
	                			</div>
								<!-- photo 100% on MS word.. height 2.3 and width 3.18-->
								<% if event.cover_photo.blank? %>
									<%= link_to image_tag("", alt: "pic", class: "event_pic"), event %>
								<% else %>
									<%= link_to image_tag(event.cover_photo.url(:medium), class: 'event_pic'), event %>
								<% end %>

								<div>
									<% if is_philanthropist? %>
                                      <%if current_user.attending?(event)%> 
                                        <a href="#" class="gwo">GOING</a>
                                      <% end %>
                                    <% elsif is_charity? %>
                                      <% if current_user.id == event.charity.id %>
                                        <a href="#" class="gwo">OWNER</a>
                                      <% end %>
                                    <% end %>
								</div>
								
								<div id="events_text">
									<%= link_to "<b id='event_title'>#{event.title}</b>".html_safe, event %><br />
									<%= link_to "<b id='event_organization'>#{event.charity.name}</b>".html_safe, event.charity %><br />
									<%= link_to "<b id='event_date'>#{event.start_time.strftime('%A')} | #{event.start_time.strftime('%B %-d')} at #{event.start_time.strftime('%-I:%M %p')}</b>".html_safe, '#' %><br />
									<% if event.zip_code.blank? %>
                                      <% if event.location.present? %>
                                        <%= link_to "<b id='event_city'>#{event.location}</b>".html_safe, '#' %><br /> 
                                      <% end %>
                                    <% else %>
                                      <%= link_to "<b id='event_city'>#{event.zip_code.to_region}</b>".html_safe, '#' %><br />  
                                    <% end %>

                                    <!-- BEGINNING SPOTS LEFT -->
                                    <% if  (Time.now - 4.hours) <= event.start_time && event.attend_limit.present? && event.attend_limit - event.philanthropists.count >= 0 %>
                                      <% if event.attend_limit - event.philanthropists.count == 1%>
                                        <span title="Spots Left" style="font-size: 14px; font-style: italic; color: #2c3e50; cursor: default;">Spot (<%=event.attend_limit - event.philanthropists.count %>)</span><br />
                                      <% elsif event.attend_limit - event.philanthropists.count >= 10 %>
                                        <span title="Spots Left" style="font-size: 14px; font-style: italic; color: #2c3e50; cursor: default;">Spots (10+)</span><br />
                                      <% else %>
                                        <span title="Spots Left" style="font-size: 14px; font-style: italic; color: #2c3e50; cursor: default;">Spots (<%=event.attend_limit - event.philanthropists.count %>)</span><br />
                                      <% end %>
                                    <% end %>
                                    <!-- END SPOTS LEFT -->

								</div>
							</li>
						<%end %>
					<%end%>
				<% else %>
					<li id="no_event_holder">
						No Nearby Events
					</li>
				<%end%>
			</ul>		
		</div>
	</div>
	
		
<!-- end of EVENTS section -->
		


</div>




</body>
</html>