<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Suggestions</title>
<%= stylesheet_link_tag    "suggestions.css", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>

</head>

<body>

<!-- navigation bar section -->
<%= render 'shared/nav_bar_signed_in' %>
<!-- end of navigation bar -->








<div class="menu2"> 




<!-- beginning of suggestions sectoin -->
	<div id="page_width2">
		<div class="suggestions_header">
        	<div id="suggestions_title">
              <%= link_to "People to Follow", suggestions_activities_path  %>
            </div>
		</div>
        <div class="user_update">
            <ul>
                <% if @recommended_users.any? %>
                    <% @recommended_users.each do |user| %>
                    <li>
                        <% if user.avatar.blank? %>
                            <%= link_to image_tag("default-user-avatar.png", class: 'user_pic', width: '63'), user %>
                        <% else %>
                            <%= link_to image_tag(user.avatar.url(:small), class: 'user_pic'), user %>
                        <% end %>
                        <% if user.type == 'Charity'%>
                            <span id="id"></span>
                        <% end %>
                        <div id="user_text">
                        <%= link_to "<b>#{user.name}</b>".html_safe, user %> <br/>
                        <%= link_to "<b id='user_location'>#{user.zip_code.to_region}</b>".html_safe, '#' %><br/>                       
                        </div>
                        

                        <% if is_philanthropist? || is_charity? %>
                            <%unless current_user?(user)%>
                                <div id="follow_unfollow_form">
                                    <% if current_user.following?(user)%>
                                        <%= render partial: 'shared/unfollow_2', locals: {user: user}  %>
                                    <% else %>
                                        <%= render partial: 'shared/follow_2', locals: {user: user} %>
                                    <% end %>
                                </div>
                            <%end%>
                        <%end%>


                        
                    </li>
                    <% end %>
                    <% end %>
            </ul>		
        </div>
	</div>
	<!-- end of suggestions section -->



</div>




</body>
</html>